<ion-item class="child-item" text-wrap detail="false" lines="none">
  <ion-row no-padding align-items-center>
    <ion-col size="9">
      <ion-row no-padding>
        <ion-col size="12">
          <h3>{{ product.name }}</h3>
        </ion-col>
        <ion-col size="12">
          <p text-lowercase color="medium">{{ product.information }}</p>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <div *ngIf="product.ingredients">
          <h5>Ingredients: </h5>
          <ion-list *ngFor="let ingredient of product.ingredients; let i = index;" lines="none" class="child-list">
            <ion-item>
              {{ ingredient.name }}
              <ion-checkbox slot="start"></ion-checkbox>
              <ion-button (click)="addIngredient(ingredient)" slot="end" shape="round">
                <ion-icon name="bag-add-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-item>