<ion-header>
  <ion-toolbar>
    <ion-title>
      <div [formGroup]="recipeForm">
        <ion-input 
        type = "text"
        id="name"
        placeholder="Enter a name..."
        [ngClass]="{'invalid': recipeForm.controls['name'].touched && !recipeForm.controls['name'].valid }"
        formControlName="name"></ion-input>
        <!-- <ion-input type = "text" placeholder={{recipe.name}}></ion-input> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
  [formGroup]="recipeForm"
  class="detail-container">

  <div class="modal-window">
    <div class="ingredient-window">
      <app-recipe-ingredients-list
      [(recipe)]="recipe"
      [recipeFormGroup]="recipeForm"></app-recipe-ingredients-list>
    </div>

    <ion-button (click)="onSubmit()">SAVE RECIPE</ion-button>
  </div>
</form>
</ion-content>