<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-input type = "text" placeholder={{recipe.name}}></ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
  [formGroup]="recipeForm"
  class="detail-container">

  <div class="modal-window">
    <div class="ingredient-window">
      <app-recipe-ingredients-list
      [(recipe)]="recipe"
      [recipeFormGroup]="recipeForm"></app-recipe-ingredients-list>
    </div>

    <ion-button (click)="onSubmit()">SAVE RECIPE</ion-button>
  </div>
</form>
</ion-content>