.modal-window {
   display: flex;
   flex-direction: column;
}

.ingredient-window {
   padding-inline: 3%;
   padding-top: 1%;
   padding-bottom: 2%;
   margin: 3%;
   border-radius: 10px;
   background-color: var(--ion-background-color);
}

.detail-container {
   margin-top: 30px;
 }
 
 p.subText {
   font-size: 15px;
 }
 
 .descriptionTextArea {
   height: 130px;
 }
 
 