<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="food-tab" layout="icon-top">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label>Foods</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe-tab" layout="icon-top">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grocery-tab" layout="icon-top">
      <ion-icon name="bag-check-outline"></ion-icon>
      <ion-label>Grocery List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
