<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe Book
    </ion-title>
    <ion-button (click)="presentModal('New Recipe')" slot="end">
      Add Recipe
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list>
      <ion-item>
        Chicken Tikka Masala
        <ion-button (click)="presentModal('Chicken Tikka Masala')" slot="end">
          Edit Recipe
          <ion-icon name="logo-react" slot="start"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        Sushi
        <ion-button (click)="presentModal('Sushi')" slot="end">
          Edit Recipe
          <ion-icon name="logo-react" slot="start"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
