<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="title"><img class="title-image" src="assets/logo.svg" width=vw height=100 /></h1>
    <ion-title>
      Food Schedule: {{ startEnd[0] | date: 'shortDate' }} - {{ startEnd[1] | date: 'shortDate'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="automaticClose = !automaticClose">
        <ion-icon slot="icon-only" name="close" *ngIf="automaticClose"></ion-icon>
        <ion-icon slot="icon-only" name="resize" *ngIf="!automaticClose"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let item of information; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>

    <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
      <ion-icon slot="end" name="chevron-forward-outline" *ngIf="!item.open"></ion-icon>
      <ion-icon slot="end" name="chevron-down-outline" *ngIf="item.open"></ion-icon>
      <ion-label>
        {{ item.name }}
      </ion-label>
    </ion-item>

    <div *ngIf="item.children && item.open">
      <ion-list *ngFor="let child of item.children; let j = index;" lines="none" class="child-list">
        <ion-item>
          <ion-select>
            <div *ngFor="let recipe of recipes">            
              <ion-select-option value=recipe>{{recipe.name}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
        <app-product [product]="child" *ngIf="!child.children"></app-product>
      </ion-list>
    </div>
  </ion-list>
</ion-content>

