<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-input type = "text" placeholder={{recipeName}}></ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-window">
    <div class="ingredient-window">
      <h2>Ingredients:</h2>
      <ion-list>
        <div *ngFor="let ing of recipeIngredients; let i = index">
          <ion-item>
            <ion-input type = "text" placeholder="{{ing.qty}} {{ing.unit}} of {{ing.name}}" (ionFocus)="checkFocus(i)"></ion-input>
          </ion-item>
        </div>
        <ion-item *ngIf="lastInputSelected">
          <ion-input type = "text" placeholder="Add an ingredient!"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  
    <ion-button (click)="saveRecipe(recipeIngredients)">SAVE RECIPE</ion-button>
  </div>
</ion-content>